square buttons .rec.rec-arrow {
  border-radius: 0;
  border-color: #1b3863;
  font-size: 16px;
  color: aliceblue;
  background-color: #1b3863;
  display: none;
}
.rec.rec-arrow-right {
  position: relative;
  top: -70%;
  left: -10%;
}
@media only screen and (max-width: 768px) {
  .rec.rec-arrow-right {
    position: relative;
    top: -70%;
    left: -23%;
    border: "none";
  }
}
.rec.rec-pagination {
  color: white !important;
}
.rec.rec-arrow-left {
  position: relative;
  top: -70%;
  right: -78%;
  border: "none";
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 50%;
}
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}
